body {
    font-family: 'Arial', sans-serif;
    background-color: #464646;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.left-align {
    text-align: left;
    margin-left: 50px; 
  }

a:visited {
    color: white;
}

#navbar {
    background-color: #302d2d;
    padding: 10px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    overflow-x: auto;
}

#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
}

#navbar ul li {
    display: inline-block;
    margin: 0 10px;
    
}

#navbar ul li a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#navbar ul li a:hover, #navbar ul li a:focus {
    background-color: #555;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff6f61;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.button:hover, .button:focus {
    background-color: #e55a50;
}

#order-button {
    padding: 20px 40px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #71e44a;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

#order-button:hover, #order-button:focus {
    background-color: #4e9c34;
}

.rounded-box {
    background: #fff;
    color: #333;
    margin: 20px 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: auto;
    max-width: 800px;
    text-align: left;
}

@media (max-width: 768px) {
    body {
        padding-top: 60px;
    }

    #navbar ul {
        text-align: center;
    }

    #navbar ul li {
        display: block;
        margin-top: 10px;
        width: 100%;
    }

    #navbar ul li a {
        padding: 10px 8px; 
    }

    .sections-container {
        flex-direction: column;
    }

    .cta-buttons {
        width: 100%;
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.footer-content p {
    margin: 5px 0;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ff6f61;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
}

/* Logo */
#logo {
    height: auto;
    padding-top: 30px;
    width: 90%; 
    max-width: 200px; 
    order: -1;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

form label, form input, form select, form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form label {
    font-weight: bold;
}

form input, form select {
    border: 2px solid #ccc;
    border-radius: 5px;
}
